<h1>{{ 'page.home.title' | translate }}</h1>

<div class="grid">
	<div>
		<h2>Date</h2>
		<div class="success">
			{{ today | i18nDate }}
		</div>
		<div class="warning">
			{{ today | i18nDate: undefined : undefined : locale.toString() }} ({{ locale.toString() }})
		</div>

		<h2>Currency</h2>
		<div class="success">
			{{ 1.2345 | i18nCurrency }}
		</div>
		<div class="warning">
			{{ 1.2345 | i18nCurrency: undefined : undefined : undefined : locale.toString() }} ({{ locale.toString() }})
		</div>
	</div>

	<div>
		<h2>Decimal</h2>
		<div class="success">
			{{ 1.2345 | i18nDecimal }}
		</div>
		<div class="warning">{{ 1.2345 | i18nDecimal: undefined : locale.toString() }} ({{ locale.toString() }})</div>

		<h2>Percent</h2>
		<div class="success">
			{{ 0.15 | i18nPercent: '1.1-2' }}
		</div>
		<div class="warning">{{ 0.15 | i18nPercent: '1.1-2' : locale.toString() }} ({{ locale.toString() }})</div>
	</div>

	<div>
		<h2>Plural</h2>
		<div class="success">
			{{ messages0.length | i18nPlural: messageMapping | translate: { count: messages0.length } }}
		</div>
		<div class="success">
			{{ messages1.length | i18nPlural: messageMapping | translate: { count: messages1.length } }}
		</div>
		<div class="success" test-id="messages">
			{{ messages2.length | i18nPlural: messageMapping | translate: { count: messages2.length } }}
		</div>

		<h2>Select</h2>
		<div class="success">
			{{ 'first' | i18nSelect: selectMapping | translate }}
		</div>
		<div class="success">
			{{ 'second' | i18nSelect: selectMapping | translate }}
		</div>
		<div class="success">
			{{ 'third' | i18nSelect: selectMapping | translate }}
		</div>
	</div>
</div>
